In [11]:
import numpy as np
import pandas as pd
import datetime

In [2]:
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

### Problem 1

In [3]:
covid_data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [4]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 8 columns):
Province/State    126 non-null object
Country/Region    276 non-null object
Last Update       276 non-null object
Confirmed         276 non-null int64
Deaths            276 non-null int64
Recovered         276 non-null int64
Latitude          276 non-null float64
Longitude         276 non-null float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.3+ KB

In [5]:
covid_data.isna().sum()

Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

### Problem 2

In [19]:
covid_data['Last Update Time Stamp'] = covid_data['Last Update'].apply(lambda x: datetime.datetime.strptime(x.replace('T', ' '), '%Y-%m-%d %H:%M:%S'))

In [23]:
covid_data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Last Update Time Stamp
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,2020-03-17 11:53:10
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674,2020-03-17 18:33:02
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880,2020-03-17 15:13:09
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492,2020-03-17 20:53:02
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515,2020-03-17 18:53:02

In [26]:
covid_data_latest_cases_country_wise = covid_data.loc[covid_data.groupby(['Country/Region'])['Last Update Time Stamp'].idxmax()]

In [29]:
covid_data_latest_cases_country_wise['Active'] = covid_data_latest_cases_country_wise['Confirmed'] - \
                                                   covid_data_latest_cases_country_wise['Deaths'] - \
                                                     covid_data_latest_cases_country_wise['Recovered']

In [31]:
covid_data_latest_cases_country_wise_required = covid_data_latest_cases_country_wise[['Country/Region', 'Confirmed', 
                                                                                      'Deaths', 'Recovered', 'Active']]

In [32]:
covid_data_latest_cases_country_wise_required

                     Country/Region  Confirmed  Deaths  Recovered  Active
162                     Afghanistan         20       0          1      19
123                         Albania         55       1          0      54
117                         Algeria         60       4         12      44
134                         Andorra         39       0          1      38
241             Antigua and Barbuda          1       0          0       1
104                       Argentina         68       2          3      63
92                          Armenia         78       0          1      77
220                           Aruba          3       0          0       3
89                        Australia         94       0          8      86
13                          Austria       1332       3          1    1328
150                      Azerbaijan         28       1          6      21
50                          Bahrain        228       1         81     146
188                      Bangladesh         10       0          3       7
234                        Barbados          2       0          0       2
138                         Belarus         36       0          3      33
15                          Belgium       1243      10          1    1232
243                           Benin          1       0          0       1
244                          Bhutan          1       0          0       1
183                         Bolivia         11       0          0      11
151          Bosnia and Herzegovina         26       0          2      24
39                           Brazil        321       1          2     318
121                          Brunei         56       0          0      56
106                        Bulgaria         67       2          0      65
176                    Burkina Faso         15       0          0      15
141                        Cambodia         33       0          1      32
189                        Cameroon         10       0          0      10
99                           Canada         74       0          0      74
246        Central African Republic          1       0          0       1
57                            Chile        201       0          0     201
80                            China        125       1        120       4
..                              ...        ...     ...        ...     ...
219                      Seychelles          4       0          0       4
45                        Singapore        266       0        114     152
101                        Slovakia         72       0          0      72
43                         Slovenia        275       1          0     274
261                         Somalia          1       0          0       1
116                    South Africa         62       0          0      62
3                             Spain      11748     533       1028   10187
132                       Sri Lanka         44       0          1      43
262                           Sudan          1       1          0       0
263                        Suriname          1       0          0       1
17                           Sweden       1190       7          1    1182
7                       Switzerland       2700      27          4    2669
94                          Taiwan*         77       1         22      54
264                        Tanzania          1       0          0       1
63                         Thailand        177       1         41     135
265                     The Bahamas          1       0          0       1
266                      The Gambia          1       0          0       1
267                            Togo          1       0          0       1
217             Trinidad and Tobago          5       0          0       5
158                         Tunisia         24       0          0      24
128                          Turkey         47       1          0      46
187                              US         11       0          0      11
177                         Ukraine         14       2          0      12
88             United Arab Emirates         98       0         23      75
8                    United Kingdom       1950      55         52    1843
149                         Uruguay         29       0          0      29
191                      Uzbekistan         10       0          0      10
143                       Venezuela         33       0          0      33
110                         Vietnam         66       0         16      50
275  occupied Palestinian territory          0       0          0       0

[159 rows x 5 columns]