In [16]:
import numpy as np
import pandas as pd
import datetime
pd.set_option('display.max_rows', None)

In [2]:
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

### Problem 1

In [3]:
covid_data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [4]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 8 columns):
Province/State    126 non-null object
Country/Region    276 non-null object
Last Update       276 non-null object
Confirmed         276 non-null int64
Deaths            276 non-null int64
Recovered         276 non-null int64
Latitude          276 non-null float64
Longitude         276 non-null float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.3+ KB

In [5]:
covid_data.isna().sum()

Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

### Problem 2

In [6]:
covid_data['Last Update Time Stamp'] = covid_data['Last Update'].apply(lambda x: datetime.datetime.strptime(x.replace('T', ' '), '%Y-%m-%d %H:%M:%S'))

In [7]:
covid_data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Last Update Time Stamp
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,2020-03-17 11:53:10
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674,2020-03-17 18:33:02
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880,2020-03-17 15:13:09
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492,2020-03-17 20:53:02
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515,2020-03-17 18:53:02

In [8]:
covid_data_latest_cases_country_wise = covid_data.loc[covid_data.groupby(['Country/Region'])['Last Update Time Stamp'].idxmax()]

In [9]:
covid_data_latest_cases_country_wise['Active'] = covid_data_latest_cases_country_wise['Confirmed'] - \
                                                   covid_data_latest_cases_country_wise['Deaths'] - \
                                                     covid_data_latest_cases_country_wise['Recovered']

In [10]:
covid_data_latest_cases_country_wise_required = covid_data_latest_cases_country_wise[['Country/Region', 'Confirmed', 
                                                                                      'Deaths', 'Recovered', 'Active']]

In [11]:
covid_data_latest_cases_country_wise_required

                     Country/Region  Confirmed  Deaths  Recovered  Active
162                     Afghanistan         20       0          1      19
123                         Albania         55       1          0      54
117                         Algeria         60       4         12      44
134                         Andorra         39       0          1      38
241             Antigua and Barbuda          1       0          0       1
104                       Argentina         68       2          3      63
92                          Armenia         78       0          1      77
220                           Aruba          3       0          0       3
89                        Australia         94       0          8      86
13                          Austria       1332       3          1    1328
150                      Azerbaijan         28       1          6      21
50                          Bahrain        228       1         81     146
188                      Bangladesh         10       0          3       7
234                        Barbados          2       0          0       2
138                         Belarus         36       0          3      33
15                          Belgium       1243      10          1    1232
243                           Benin          1       0          0       1
244                          Bhutan          1       0          0       1
183                         Bolivia         11       0          0      11
151          Bosnia and Herzegovina         26       0          2      24
39                           Brazil        321       1          2     318
121                          Brunei         56       0          0      56
106                        Bulgaria         67       2          0      65
176                    Burkina Faso         15       0          0      15
141                        Cambodia         33       0          1      32
189                        Cameroon         10       0          0      10
99                           Canada         74       0          0      74
246        Central African Republic          1       0          0       1
57                            Chile        201       0          0     201
80                            China        125       1        120       4
..                              ...        ...     ...        ...     ...
219                      Seychelles          4       0          0       4
45                        Singapore        266       0        114     152
101                        Slovakia         72       0          0      72
43                         Slovenia        275       1          0     274
261                         Somalia          1       0          0       1
116                    South Africa         62       0          0      62
3                             Spain      11748     533       1028   10187
132                       Sri Lanka         44       0          1      43
262                           Sudan          1       1          0       0
263                        Suriname          1       0          0       1
17                           Sweden       1190       7          1    1182
7                       Switzerland       2700      27          4    2669
94                          Taiwan*         77       1         22      54
264                        Tanzania          1       0          0       1
63                         Thailand        177       1         41     135
265                     The Bahamas          1       0          0       1
266                      The Gambia          1       0          0       1
267                            Togo          1       0          0       1
217             Trinidad and Tobago          5       0          0       5
158                         Tunisia         24       0          0      24
128                          Turkey         47       1          0      46
187                              US         11       0          0      11
177                         Ukraine         14       2          0      12
88             United Arab Emirates         98       0         23      75
8                    United Kingdom       1950      55         52    1843
149                         Uruguay         29       0          0      29
191                      Uzbekistan         10       0          0      10
143                       Venezuela         33       0          0      33
110                         Vietnam         66       0         16      50
275  occupied Palestinian territory          0       0          0       0

[159 rows x 5 columns]

### Problem 3

In [12]:
covid_data_latest_cases_country_state_wise = covid_data.loc[covid_data.groupby(['Country/Region', 'Province/State'])['Last Update Time Stamp'].idxmax()]

In [13]:
covid_data_latest_cases_country_state_wise

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Last Update Time Stamp
233,Australian Capital Territory,Australia,2020-03-16T14:38:46,2,0,0,-35.4735,149.0124,2020-03-16 14:38:46
270,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380,2020-03-14 02:33:04
56,New South Wales,Australia,2020-03-17T12:33:07,210,4,4,-33.8688,151.2093,2020-03-17 12:33:07
242,Northern Territory,Australia,2020-03-14T01:53:03,1,0,0,-12.4634,130.8456,2020-03-14 01:53:03
93,Queensland,Australia,2020-03-17T12:33:07,78,0,8,-28.0167,153.4000,2020-03-17 12:33:07
148,South Australia,Australia,2020-03-16T14:38:46,29,0,3,-34.9285,138.6007,2020-03-16 14:38:46
201,Tasmania,Australia,2020-03-16T14:38:46,7,0,0,-41.4545,145.9707,2020-03-16 14:38:46
89,Victoria,Australia,2020-03-17T12:53:09,94,0,8,-37.8136,144.9631,2020-03-17 12:53:09
145,Western Australia,Australia,2020-03-17T12:53:09,31,1,0,-31.9505,115.8605,2020-03-17 12:53:09
98,Alberta,Canada,2020-03-17T03:13:18,74,0,0,53.9333,-116.5765,2020-03-17 03:13:18
87,British Columbia,Canada,2020-03-16T19:13:13,103,4,4,53.7267,-127.6476,2020-03-16 19:13:13
196,Grand Princess,Canada,2020-03-17T03:13:18,8,0,0,37.6489,-122.6655,2020-03-17 03:13:18
197,Manitoba,Canada,2020-03-17T19:33:03,8,0,0,53.7609,-98.8139,2020-03-17 19:33:03
198,New Brunswick,Canada,2020-03-17T19:33:03,8,0,0,46.5653,-66.4619,2020-03-17 19:33:03
221,Newfoundland and Labrador,Canada,2020-03-17T17:53:03,3,0,0,53.1355,-57.6604,2020-03-17 17:53:03
202,Nova Scotia,Canada,2020-03-17T19:33:03,7,0,0,44.6820,-63.7443,2020-03-17 19:33:03
61,Ontario,Canada,2020-03-17T16:53:04,185,1,5,51.2538,-85.3232,2020-03-17 16:53:04
245,Prince Edward Island,Canada,2020-03-15T02:13:21,1,0,0,46.5107,-63.4168,2020-03-15 02:13:21
99,Quebec,Canada,2020-03-17T19:33:03,74,0,0,52.9399,-73.5491,2020-03-17 19:33:03
203,Saskatchewan,Canada,2020-03-16T20:13:20,7,0,0,52.9399,-106.4509,2020-03-16 20:13:20
20,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264,2020-03-11 02:18:14
32,Beijing,China,2020-03-17T10:53:03,456,8,369,40.1824,116.4142,2020-03-17 10:53:03
29,Chongqing,China,2020-03-15T03:53:04,576,6,570,30.0572,107.8740,2020-03-15 03:53:04
42,Fujian,China,2020-03-11T02:18:14,296,1,295,26.0789,117.9874,2020-03-11 02:18:14
77,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,2020-03-15 18:20:18
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244,2020-03-17 01:53:03
46,Guangxi,China,2020-03-17T00:33:02,253,2,248,23.8298,108.7881,2020-03-17 00:33:02
72,Guizhou,China,2020-03-17T07:33:03,147,2,144,26.8154,106.8748,2020-03-17 07:33:03
67,Hainan,China,2020-03-16T14:38:45,168,6,161,19.1959,109.7453,2020-03-16 14:38:45
41,Hebei,China,2020-03-13T11:09:03,318,6,310,38.0428,114.5149,2020-03-13 11:09:03
...,...,...,...,...,...,...,...,...,...
168,Nebraska,US,2020-03-17T17:53:03,21,0,0,41.1254,-98.2681,2020-03-17 17:53:03
122,Nevada,US,2020-03-17T23:33:02,56,1,0,38.3135,-117.0554,2020-03-17 23:33:02
155,New Hampshire,US,2020-03-17T23:13:10,26,0,0,43.4525,-71.5639,2020-03-17 23:13:10
44,New Jersey,US,2020-03-17T20:13:22,267,3,1,40.2989,-74.5210,2020-03-17 20:13:22
160,New Mexico,US,2020-03-17T23:13:10,23,0,0,34.8405,-106.2485,2020-03-17 23:13:10
9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481,2020-03-17 22:53:03
115,North Carolina,US,2020-03-17T23:13:10,64,0,0,35.6301,-79.8064,2020-03-17 23:13:10
231,North Dakota,US,2020-03-17T23:33:02,3,0,0,47.5289,-99.7840,2020-03-17 23:33:02
107,Ohio,US,2020-03-17T20:53:02,67,0,0,40.3888,-82.7649,2020-03-17 20:53:02
170,Oklahoma,US,2020-03-17T17:53:03,19,0,0,35.5653,-96.9289,2020-03-17 17:53:03
109,Oregon,US,2020-03-17T23:13:10,66,1,0,44.5720,-122.0709,2020-03-17 23:13:10
84,Pennsylvania,US,2020-03-17T23:13:10,112,0,0,40.5908,-77.2098,2020-03-17 23:13:10
218,Puerto Rico,US,2020-03-16T00:22:11,5,0,0,18.2208,-66.5901,2020-03-16 00:22:11
161,Rhode Island,US,2020-03-17T20:53:02,23,0,0,41.6809,-71.5118,2020-03-17 20:53:02
130,South Carolina,US,2020-03-17T23:13:10,47,1,0,33.8569,-80.9450,2020-03-17 23:13:10
186,South Dakota,US,2020-03-17T23:33:02,11,1,0,44.2998,-99.4388,2020-03-17 23:33:02
100,Tennessee,US,2020-03-17T23:13:10,74,0,0,35.7478,-86.6923,2020-03-17 23:13:10
85,Texas,US,2020-03-17T20:13:22,110,1,0,31.0545,-97.5635,2020-03-17 20:13:22
124,Utah,US,2020-03-17T20:53:02,51,0,0,40.1500,-111.8624,2020-03-17 20:53:02
182,Vermont,US,2020-03-16T17:13:23,12,0,0,44.0459,-72.7107,2020-03-16 17:13:23
240,Virgin Islands,US,2020-03-17T20:53:02,2,0,0,18.3358,-64.8963,2020-03-17 20:53:02
108,Virginia,US,2020-03-17T20:13:22,67,2,0,37.7693,-78.1700,2020-03-17 20:13:22
18,Washington,US,2020-03-17T23:33:03,1076,55,1,47.4009,-121.4905,2020-03-17 23:33:03
268,West Virginia,US,2020-03-17T23:33:02,1,0,0,38.4912,-80.9545,2020-03-17 23:33:02
102,Wisconsin,US,2020-03-17T20:13:22,72,0,1,44.2685,-89.6165,2020-03-17 20:13:22
187,Wyoming,US,2020-03-17T23:53:03,11,0,0,42.7560,-107.3025,2020-03-17 23:53:03
269,Cayman Islands,United Kingdom,2020-03-16T14:53:04,1,1,0,19.3133,-81.2546,2020-03-16 14:53:04
212,Channel Islands,United Kingdom,2020-03-16T14:38:45,6,0,0,49.3723,-2.3644,2020-03-16 14:38:45
232,Gibraltar,United Kingdom,2020-03-17T02:53:03,3,0,1,36.1408,-5.3536,2020-03-17 02:53:03
8,United Kingdom,United Kingdom,2020-03-17T15:13:09,1950,55,52,55.3781,-3.4360,2020-03-17 15:13:09

In [14]:
covid_data_latest_cases_country_state_wise_required = covid_data_latest_cases_country_state_wise[['Country/Region', 'Province/State',
                                                                                                  'Confirmed', 'Deaths', 'Recovered']]

In [17]:
covid_data_latest_cases_country_state_wise_required

,Country/Region,Province/State,Confirmed,Deaths,Recovered
233,Australia,Australian Capital Territory,2,0,0
270,Australia,From Diamond Princess,0,0,0
56,Australia,New South Wales,210,4,4
242,Australia,Northern Territory,1,0,0
93,Australia,Queensland,78,0,8
148,Australia,South Australia,29,0,3
201,Australia,Tasmania,7,0,0
89,Australia,Victoria,94,0,8
145,Australia,Western Australia,31,1,0
98,Canada,Alberta,74,0,0
87,Canada,British Columbia,103,4,4
196,Canada,Grand Princess,8,0,0
197,Canada,Manitoba,8,0,0
198,Canada,New Brunswick,8,0,0
221,Canada,Newfoundland and Labrador,3,0,0
202,Canada,Nova Scotia,7,0,0
61,Canada,Ontario,185,1,5
245,Canada,Prince Edward Island,1,0,0
99,Canada,Quebec,74,0,0
203,Canada,Saskatchewan,7,0,0
20,China,Anhui,990,6,984
32,China,Beijing,456,8,369
29,China,Chongqing,576,6,570
42,China,Fujian,296,1,295
77,China,Gansu,133,2,91
12,China,Guangdong,1364,8,1307
46,China,Guangxi,253,2,248
72,China,Guizhou,147,2,144
67,China,Hainan,168,6,161
41,China,Hebei,318,6,310
31,China,Heilongjiang,482,13,456
14,China,Henan,1273,22,1250
68,China,Hong Kong,162,4,88
0,China,Hubei,67799,3111,56003
19,China,Hunan,1018,4,1014
96,China,Inner Mongolia,75,1,73
28,China,Jiangsu,631,0,631
22,China,Jiangxi,935,1,934
90,China,Jilin,93,1,92
80,China,Liaoning,125,1,120
179,China,Macau,12,0,10
97,China,Ningxia,75,0,75
171,China,Qinghai,18,0,18
47,China,Shaanxi,246,3,236
24,China,Shandong,761,7,746
37,China,Shanghai,358,3,325
78,China,Shanxi,133,0,133
30,China,Sichuan,540,3,520
76,China,Tianjin,136,3,133
247,China,Tibet,1,0,1
95,China,Xinjiang,76,3,73
64,China,Yunnan,176,2,172
16,China,Zhejiang,1232,1,1216
26,Cruise Ship,Diamond Princess,696,7,325
21,Denmark,Denmark,977,4,1
127,Denmark,Faroe Islands,47,0,0
6,France,France,7652,148,12
204,France,French Guiana,7,0,0
223,France,French Polynesia,3,0,0
210,France,Guadeloupe,6,0,0
251,France,Mayotte,1,0,0
192,France,Reunion,9,0,0
224,France,Saint Barthelemy,3,0,0
235,France,St Martin,2,0,0
227,Netherlands,Curacao,3,0,0
10,Netherlands,Netherlands,1705,43,2
135,US,Alabama,39,0,0
229,US,Alaska,3,0,0
169,US,Arizona,20,0,1
163,US,Arkansas,22,0,0
25,US,California,698,12,6
70,US,Colorado,160,2,0
105,US,Connecticut,68,0,0
175,US,Delaware,16,0,0
129,US,Diamond Princess,47,0,0
164,US,District of Columbia,22,0,0
55,US,Florida,216,6,0
73,US,Georgia,146,1,0
166,US,Grand Princess,21,0,0
230,US,Guam,3,0,0
190,US,Hawaii,10,0,0
200,US,Idaho,8,0,0
69,US,Illinois,161,1,2
147,US,Indiana,30,2,0
159,US,Iowa,23,0,0
173,US,Kansas,18,1,0
154,US,Kentucky,26,1,1
59,US,Louisiana,196,4,0
144,US,Maine,32,0,0
118,US,Maryland,60,0,3
54,US,Massachusetts,218,0,1
114,US,Michigan,65,0,0
119,US,Minnesota,60,0,0
167,US,Mississippi,21,0,0
185,US,Missouri,11,0,0
195,US,Montana,9,0,0
168,US,Nebraska,21,0,0
122,US,Nevada,56,1,0
155,US,New Hampshire,26,0,0
44,US,New Jersey,267,3,1
160,US,New Mexico,23,0,0
9,US,New York,1706,13,0
115,US,North Carolina,64,0,0
231,US,North Dakota,3,0,0
107,US,Ohio,67,0,0
170,US,Oklahoma,19,0,0
109,US,Oregon,66,1,0
84,US,Pennsylvania,112,0,0
218,US,Puerto Rico,5,0,0
161,US,Rhode Island,23,0,0
130,US,South Carolina,47,1,0
186,US,South Dakota,11,1,0
100,US,Tennessee,74,0,0
85,US,Texas,110,1,0
124,US,Utah,51,0,0
182,US,Vermont,12,0,0
240,US,Virgin Islands,2,0,0
108,US,Virginia,67,2,0
18,US,Washington,1076,55,1
268,US,West Virginia,1,0,0
102,US,Wisconsin,72,0,1
187,US,Wyoming,11,0,0
269,United Kingdom,Cayman Islands,1,1,0
212,United Kingdom,Channel Islands,6,0,0
232,United Kingdom,Gibraltar,3,0,1
8,United Kingdom,United Kingdom,1950,55,52

### Problem 4

In [18]:
covid_data_china = covid_data.loc[covid_data['Country/Region'] == 'China', ]

In [19]:
covid_data_china.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Last Update Time Stamp
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,2020-03-17 11:53:10
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244,2020-03-17 01:53:03
14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140,2020-03-14 09:53:08
16,Zhejiang,China,2020-03-17T02:13:21,1232,1,1216,29.1832,120.0934,2020-03-17 02:13:21
19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088,2020-03-14 08:33:03

In [21]:
covid_data_china_state_wise = covid_data_china[['Province/State', 'Confirmed', 'Deaths', 'Recovered']]

In [22]:
covid_data_china_state_wise

     Province/State  Confirmed  Deaths  Recovered
0             Hubei      67799    3111      56003
12        Guangdong       1364       8       1307
14            Henan       1273      22       1250
16         Zhejiang       1232       1       1216
19            Hunan       1018       4       1014
20            Anhui        990       6        984
22          Jiangxi        935       1        934
24         Shandong        761       7        746
28          Jiangsu        631       0        631
29        Chongqing        576       6        570
30          Sichuan        540       3        520
31     Heilongjiang        482      13        456
32          Beijing        456       8        369
37         Shanghai        358       3        325
41            Hebei        318       6        310
42           Fujian        296       1        295
46          Guangxi        253       2        248
47          Shaanxi        246       3        236
64           Yunnan        176       2        172
67           Hainan        168       6        161
68        Hong Kong        162       4         88
72          Guizhou        147       2        144
76          Tianjin        136       3        133
77            Gansu        133       2         91
78           Shanxi        133       0        133
80         Liaoning        125       1        120
90            Jilin         93       1         92
95         Xinjiang         76       3         73
96   Inner Mongolia         75       1         73
97          Ningxia         75       0         75
171         Qinghai         18       0         18
179           Macau         12       0         10
247           Tibet          1       0          1