In [1]:
import numpy as np
import pandas as pd
import datetime
pd.set_option('display.max_rows', None)

In [2]:
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

### Problem 1

In [3]:
covid_data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [4]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 8 columns):
Province/State    126 non-null object
Country/Region    276 non-null object
Last Update       276 non-null object
Confirmed         276 non-null int64
Deaths            276 non-null int64
Recovered         276 non-null int64
Latitude          276 non-null float64
Longitude         276 non-null float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.3+ KB

In [5]:
covid_data.isna().sum()

Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

### Problem 2

In [6]:
covid_data['Last Update Time Stamp'] = covid_data['Last Update'].apply(lambda x: datetime.datetime.strptime(x.replace('T', ' '), '%Y-%m-%d %H:%M:%S'))

In [7]:
covid_data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Last Update Time Stamp
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,2020-03-17 11:53:10
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674,2020-03-17 18:33:02
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880,2020-03-17 15:13:09
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492,2020-03-17 20:53:02
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515,2020-03-17 18:53:02

In [8]:
covid_data_latest_cases_country_wise = covid_data.loc[covid_data.groupby(['Country/Region'])['Last Update Time Stamp'].idxmax()]

In [9]:
covid_data_latest_cases_country_wise['Active'] = covid_data_latest_cases_country_wise['Confirmed'] - \
                                                   covid_data_latest_cases_country_wise['Deaths'] - \
                                                     covid_data_latest_cases_country_wise['Recovered']

In [10]:
covid_data_latest_cases_country_wise_required = covid_data_latest_cases_country_wise[['Country/Region', 'Confirmed', 
                                                                                      'Deaths', 'Recovered', 'Active']]

In [11]:
covid_data_latest_cases_country_wise_required

                       Country/Region  Confirmed  Deaths  Recovered  Active
162                       Afghanistan         20       0          1      19
123                           Albania         55       1          0      54
117                           Algeria         60       4         12      44
134                           Andorra         39       0          1      38
241               Antigua and Barbuda          1       0          0       1
104                         Argentina         68       2          3      63
92                            Armenia         78       0          1      77
220                             Aruba          3       0          0       3
89                          Australia         94       0          8      86
13                            Austria       1332       3          1    1328
150                        Azerbaijan         28       1          6      21
50                            Bahrain        228       1         81     146
188                        Bangladesh         10       0          3       7
234                          Barbados          2       0          0       2
138                           Belarus         36       0          3      33
15                            Belgium       1243      10          1    1232
243                             Benin          1       0          0       1
244                            Bhutan          1       0          0       1
183                           Bolivia         11       0          0      11
151            Bosnia and Herzegovina         26       0          2      24
39                             Brazil        321       1          2     318
121                            Brunei         56       0          0      56
106                          Bulgaria         67       2          0      65
176                      Burkina Faso         15       0          0      15
141                          Cambodia         33       0          1      32
189                          Cameroon         10       0          0      10
99                             Canada         74       0          0      74
246          Central African Republic          1       0          0       1
57                              Chile        201       0          0     201
80                              China        125       1        120       4
111                          Colombia         65       0          1      64
248               Congo (Brazzaville)          1       0          0       1
222                  Congo (Kinshasa)          3       0          0       3
133                        Costa Rica         41       0          0      41
213                     Cote d'Ivoire          5       0          1       4
112                           Croatia         65       0          4      61
26                        Cruise Ship        696       7        325     364
214                              Cuba          5       0          0       5
131                            Cyprus         46       0          0      46
35                            Czechia        396       0          3     393
21                            Denmark        977       4          1     972
165                Dominican Republic         21       1          0      20
120                           Ecuador         58       2          0      56
58                              Egypt        196       4         32     160
249                 Equatorial Guinea          1       0          0       1
51                            Estonia        225       0          1     224
250                          Eswatini          1       0          0       1
215                          Ethiopia          5       0          0       5
40                            Finland        321       0         10     311
6                              France       7652     148         12    7492
184                     French Guiana         11       0          0      11
252                             Gabon          1       0          0       1
139                           Georgia         34       0          1      33
4                             Germany       9257      24         67    9166
205                             Ghana          7       0          0       7
36                             Greece        387       5          8     374
253                         Greenland          1       0          0       1
172                        Guadeloupe         18       0          0      18
225                              Guam          3       0          0       3
211                         Guatemala          6       1          0       5
271                          Guernsey          0       0          0       0
254                            Guinea          1       0          0       1
206                            Guyana          7       1          0       6
255                          Holy See          1       0          0       1
199                          Honduras          8       0          0       8
125                           Hungary         50       1          2      47
53                            Iceland        220       1          0     219
74                              India        142       3         14     125
65                          Indonesia        172       5          8     159
2                                Iran      16169     988       5389    9792
71                               Iraq        154      11         32     111
52                            Ireland        223       2          5     216
38                             Israel        382       0          3     379
1                               Italy      31506    2503       2941   26062
180                           Jamaica         12       0          2      10
23                              Japan        878      29        144     705
272                            Jersey          0       0          0       0
140                            Jordan         34       0          1      33
142                        Kazakhstan         33       0          0      33
226                             Kenya          3       0          0       3
5                        Korea, South       8320      81       1407    6832
236                            Kosovo          2       0          0       2
79                             Kuwait        130       0          9     121
126                            Latvia         49       0          1      48
81                            Lebanon        120       3          3     114
256                           Liberia          1       0          0       1
207                     Liechtenstein          7       0          0       7
156                         Lithuania         25       0          1      24
75                         Luxembourg        140       1          0     139
27                           Malaysia        673       2         49     622
178                          Maldives         13       0          0      13
136                             Malta         38       0          2      36
174                        Martinique         16       1          0      15
257                        Mauritania          1       0          0       1
258                           Mayotte          1       0          0       1
91                             Mexico         82       0          4      78
146                           Moldova         30       0          1      29
208                            Monaco          7       0          0       7
216                          Mongolia          5       0          0       5
237                        Montenegro          2       0          0       2
137                           Morocco         38       2          1      35
238                           Namibia          2       0          0       2
259                             Nepal          1       0          1       0
10                        Netherlands       1705      43          2    1660
181                       New Zealand         12       0          0      12
228                           Nigeria          3       0          0       3
152                   North Macedonia         26       0          1      25
11                             Norway       1463       3          1    1459
157                              Oman         24       0          9      15
49                           Pakistan        236       0          2     234
103                            Panama         69       1          0      68
193                          Paraguay          9       0          0       9
82                               Peru        117       0          1     116
60                        Philippines        187      12          5     170
48                             Poland        238       5         13     220
33                           Portugal        448       1          3     444
273                       Puerto Rico          0       0          0       0
34                              Qatar        439       0          4     435
274             Republic of the Congo          0       0          0       0
194                           Reunion          9       0          0       9
62                            Romania        184       0         16     168
83                             Russia        114       0          8     106
209                            Rwanda          7       0          0       7
239                       Saint Lucia          2       0          0       2
260  Saint Vincent and the Grenadines          1       0          0       1
86                         San Marino        109       7          4      98
66                       Saudi Arabia        171       0          6     165
153                           Senegal         26       0          2      24
113                            Serbia         65       0          1      64
219                        Seychelles          4       0          0       4
45                          Singapore        266       0        114     152
101                          Slovakia         72       0          0      72
43                           Slovenia        275       1          0     274
261                           Somalia          1       0          0       1
116                      South Africa         62       0          0      62
3                               Spain      11748     533       1028   10187
132                         Sri Lanka         44       0          1      43
262                             Sudan          1       1          0       0
263                          Suriname          1       0          0       1
17                             Sweden       1190       7          1    1182
7                         Switzerland       2700      27          4    2669
94                            Taiwan*         77       1         22      54
264                          Tanzania          1       0          0       1
63                           Thailand        177       1         41     135
265                       The Bahamas          1       0          0       1
266                        The Gambia          1       0          0       1
267                              Togo          1       0          0       1
217               Trinidad and Tobago          5       0          0       5
158                           Tunisia         24       0          0      24
128                            Turkey         47       1          0      46
187                                US         11       0          0      11
177                           Ukraine         14       2          0      12
88               United Arab Emirates         98       0         23      75
8                      United Kingdom       1950      55         52    1843
149                           Uruguay         29       0          0      29
191                        Uzbekistan         10       0          0      10
143                         Venezuela         33       0          0      33
110                           Vietnam         66       0         16      50
275    occupied Palestinian territory          0       0          0       0

### Problem 3

In [12]:
covid_data_latest_cases_country_state_wise = covid_data.loc[covid_data.groupby(['Country/Region', 'Province/State'])['Last Update Time Stamp'].idxmax()]

In [13]:
covid_data_latest_cases_country_state_wise

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Last Update Time Stamp
233,Australian Capital Territory,Australia,2020-03-16T14:38:46,2,0,0,-35.4735,149.0124,2020-03-16 14:38:46
270,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380,2020-03-14 02:33:04
56,New South Wales,Australia,2020-03-17T12:33:07,210,4,4,-33.8688,151.2093,2020-03-17 12:33:07
242,Northern Territory,Australia,2020-03-14T01:53:03,1,0,0,-12.4634,130.8456,2020-03-14 01:53:03
93,Queensland,Australia,2020-03-17T12:33:07,78,0,8,-28.0167,153.4000,2020-03-17 12:33:07
148,South Australia,Australia,2020-03-16T14:38:46,29,0,3,-34.9285,138.6007,2020-03-16 14:38:46
201,Tasmania,Australia,2020-03-16T14:38:46,7,0,0,-41.4545,145.9707,2020-03-16 14:38:46
89,Victoria,Australia,2020-03-17T12:53:09,94,0,8,-37.8136,144.9631,2020-03-17 12:53:09
145,Western Australia,Australia,2020-03-17T12:53:09,31,1,0,-31.9505,115.8605,2020-03-17 12:53:09
98,Alberta,Canada,2020-03-17T03:13:18,74,0,0,53.9333,-116.5765,2020-03-17 03:13:18
87,British Columbia,Canada,2020-03-16T19:13:13,103,4,4,53.7267,-127.6476,2020-03-16 19:13:13
196,Grand Princess,Canada,2020-03-17T03:13:18,8,0,0,37.6489,-122.6655,2020-03-17 03:13:18
197,Manitoba,Canada,2020-03-17T19:33:03,8,0,0,53.7609,-98.8139,2020-03-17 19:33:03
198,New Brunswick,Canada,2020-03-17T19:33:03,8,0,0,46.5653,-66.4619,2020-03-17 19:33:03
221,Newfoundland and Labrador,Canada,2020-03-17T17:53:03,3,0,0,53.1355,-57.6604,2020-03-17 17:53:03
202,Nova Scotia,Canada,2020-03-17T19:33:03,7,0,0,44.6820,-63.7443,2020-03-17 19:33:03
61,Ontario,Canada,2020-03-17T16:53:04,185,1,5,51.2538,-85.3232,2020-03-17 16:53:04
245,Prince Edward Island,Canada,2020-03-15T02:13:21,1,0,0,46.5107,-63.4168,2020-03-15 02:13:21
99,Quebec,Canada,2020-03-17T19:33:03,74,0,0,52.9399,-73.5491,2020-03-17 19:33:03
203,Saskatchewan,Canada,2020-03-16T20:13:20,7,0,0,52.9399,-106.4509,2020-03-16 20:13:20
20,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264,2020-03-11 02:18:14
32,Beijing,China,2020-03-17T10:53:03,456,8,369,40.1824,116.4142,2020-03-17 10:53:03
29,Chongqing,China,2020-03-15T03:53:04,576,6,570,30.0572,107.8740,2020-03-15 03:53:04
42,Fujian,China,2020-03-11T02:18:14,296,1,295,26.0789,117.9874,2020-03-11 02:18:14
77,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,2020-03-15 18:20:18
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244,2020-03-17 01:53:03
46,Guangxi,China,2020-03-17T00:33:02,253,2,248,23.8298,108.7881,2020-03-17 00:33:02
72,Guizhou,China,2020-03-17T07:33:03,147,2,144,26.8154,106.8748,2020-03-17 07:33:03
67,Hainan,China,2020-03-16T14:38:45,168,6,161,19.1959,109.7453,2020-03-16 14:38:45
41,Hebei,China,2020-03-13T11:09:03,318,6,310,38.0428,114.5149,2020-03-13 11:09:03
31,Heilongjiang,China,2020-03-17T01:33:02,482,13,456,47.8620,127.7615,2020-03-17 01:33:02
14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140,2020-03-14 09:53:08
68,Hong Kong,China,2020-03-17T10:13:11,162,4,88,22.3000,114.2000,2020-03-17 10:13:11
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,2020-03-17 11:53:10
19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088,2020-03-14 08:33:03
96,Inner Mongolia,China,2020-03-16T14:38:45,75,1,73,44.0935,113.9448,2020-03-16 14:38:45
28,Jiangsu,China,2020-03-15T01:53:02,631,0,631,32.9711,119.4550,2020-03-15 01:53:02
22,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221,2020-03-12 02:13:04
90,Jilin,China,2020-03-16T00:22:10,93,1,92,43.6661,126.1923,2020-03-16 00:22:10
80,Liaoning,China,2020-03-17T12:13:13,125,1,120,41.2956,122.6085,2020-03-17 12:13:13
179,Macau,China,2020-03-17T04:32:18,12,0,10,22.1667,113.5500,2020-03-17 04:32:18
97,Ningxia,China,2020-03-16T14:38:45,75,0,75,37.2692,106.1655,2020-03-16 14:38:45
171,Qinghai,China,2020-03-11T02:18:14,18,0,18,35.7452,95.9956,2020-03-11 02:18:14
47,Shaanxi,China,2020-03-17T10:53:03,246,3,236,35.1917,108.8701,2020-03-17 10:53:03
24,Shandong,China,2020-03-17T00:33:02,761,7,746,36.3427,118.1498,2020-03-17 00:33:02
37,Shanghai,China,2020-03-17T02:13:20,358,3,325,31.2020,121.4491,2020-03-17 02:13:20
78,Shanxi,China,2020-03-13T11:09:03,133,0,133,37.5777,112.2922,2020-03-13 11:09:03
30,Sichuan,China,2020-03-17T08:33:02,540,3,520,30.6171,102.7103,2020-03-17 08:33:02
76,Tianjin,China,2020-03-15T18:20:18,136,3,133,39.3054,117.3230,2020-03-15 18:20:18
247,Tibet,China,2020-03-11T02:18:14,1,0,1,31.6927,88.0924,2020-03-11 02:18:14
95,Xinjiang,China,2020-03-11T02:18:14,76,3,73,41.1129,85.2401,2020-03-11 02:18:14
64,Yunnan,China,2020-03-16T23:53:02,176,2,172,24.9740,101.4870,2020-03-16 23:53:02
16,Zhejiang,China,2020-03-17T02:13:21,1232,1,1216,29.1832,120.0934,2020-03-17 02:13:21
26,Diamond Princess,Cruise Ship,2020-03-13T14:13:25,696,7,325,35.4498,139.6649,2020-03-13 14:13:25
21,Denmark,Denmark,2020-03-17T16:33:04,977,4,1,56.2639,9.5018,2020-03-17 16:33:04
127,Faroe Islands,Denmark,2020-03-17T10:13:13,47,0,0,61.8926,-6.9118,2020-03-17 10:13:13
6,France,France,2020-03-17T19:13:08,7652,148,12,46.2276,2.2137,2020-03-17 19:13:08
204,French Guiana,France,2020-03-17T07:33:03,7,0,0,4.0000,-53.0000,2020-03-17 07:33:03
223,French Polynesia,France,2020-03-15T18:20:19,3,0,0,-17.6797,-149.4068,2020-03-15 18:20:19
210,Guadeloupe,France,2020-03-17T07:33:03,6,0,0,16.2500,-61.5833,2020-03-17 07:33:03
251,Mayotte,France,2020-03-16T14:38:45,1,0,0,-12.8431,45.1383,2020-03-16 14:38:45
192,Reunion,France,2020-03-17T11:13:29,9,0,0,-21.1351,55.2471,2020-03-17 11:13:29
224,Saint Barthelemy,France,2020-03-16T14:38:45,3,0,0,17.9000,-62.8333,2020-03-16 14:38:45
235,St Martin,France,2020-03-14T16:33:03,2,0,0,18.0708,-63.0501,2020-03-14 16:33:03
227,Curacao,Netherlands,2020-03-17T12:33:07,3,0,0,12.1696,-68.9900,2020-03-17 12:33:07
10,Netherlands,Netherlands,2020-03-17T15:13:11,1705,43,2,52.1326,5.2913,2020-03-17 15:13:11
135,Alabama,US,2020-03-17T23:13:10,39,0,0,32.3182,-86.9023,2020-03-17 23:13:10
229,Alaska,US,2020-03-17T17:33:03,3,0,0,61.3707,-152.4044,2020-03-17 17:33:03
169,Arizona,US,2020-03-17T23:13:10,20,0,1,33.7298,-111.4312,2020-03-17 23:13:10
163,Arkansas,US,2020-03-16T17:13:23,22,0,0,34.9697,-92.3731,2020-03-16 17:13:23
25,California,US,2020-03-17T22:53:03,698,12,6,36.1162,-119.6816,2020-03-17 22:53:03
70,Colorado,US,2020-03-17T22:53:03,160,2,0,39.0598,-105.3111,2020-03-17 22:53:03
105,Connecticut,US,2020-03-17T23:13:10,68,0,0,41.5978,-72.7554,2020-03-17 23:13:10
175,Delaware,US,2020-03-17T23:33:02,16,0,0,39.3185,-75.5071,2020-03-17 23:33:02
129,Diamond Princess,US,2020-03-16T16:53:06,47,0,0,35.4437,139.6380,2020-03-16 16:53:06
164,District of Columbia,US,2020-03-16T23:53:03,22,0,0,38.8974,-77.0268,2020-03-16 23:53:03
55,Florida,US,2020-03-17T23:33:02,216,6,0,27.7663,-81.6868,2020-03-17 23:33:02
73,Georgia,US,2020-03-17T20:13:22,146,1,0,33.0406,-83.6431,2020-03-17 20:13:22
166,Grand Princess,US,2020-03-17T20:53:02,21,0,0,37.6489,-122.6655,2020-03-17 20:53:02
230,Guam,US,2020-03-15T18:20:19,3,0,0,13.4443,144.7937,2020-03-15 18:20:19
190,Hawaii,US,2020-03-17T17:33:03,10,0,0,21.0943,-157.4983,2020-03-17 17:33:03
200,Idaho,US,2020-03-17T23:33:02,8,0,0,44.2405,-114.4788,2020-03-17 23:33:02
69,Illinois,US,2020-03-17T22:53:03,161,1,2,40.3495,-88.9861,2020-03-17 22:53:03
147,Indiana,US,2020-03-17T23:13:10,30,2,0,39.8494,-86.2583,2020-03-17 23:13:10
159,Iowa,US,2020-03-16T23:53:03,23,0,0,42.0115,-93.2105,2020-03-16 23:53:03
173,Kansas,US,2020-03-17T23:13:10,18,1,0,38.5266,-96.7265,2020-03-17 23:13:10
154,Kentucky,US,2020-03-17T23:33:02,26,1,1,37.6681,-84.6701,2020-03-17 23:33:02
59,Louisiana,US,2020-03-17T22:53:03,196,4,0,31.1695,-91.8678,2020-03-17 22:53:03
144,Maine,US,2020-03-17T17:53:03,32,0,0,44.6939,-69.3819,2020-03-17 17:53:03
118,Maryland,US,2020-03-17T16:13:14,60,0,3,39.0639,-76.8021,2020-03-17 16:13:14
54,Massachusetts,US,2020-03-17T22:53:02,218,0,1,42.2302,-71.5301,2020-03-17 22:53:02
114,Michigan,US,2020-03-17T20:53:02,65,0,0,43.3266,-84.5361,2020-03-17 20:53:02
119,Minnesota,US,2020-03-17T17:53:03,60,0,0,45.6945,-93.9002,2020-03-17 17:53:03
167,Mississippi,US,2020-03-17T17:53:03,21,0,0,32.7416,-89.6787,2020-03-17 17:53:03
185,Missouri,US,2020-03-17T23:33:02,11,0,0,38.4561,-92.2884,2020-03-17 23:33:02
195,Montana,US,2020-03-17T17:33:03,9,0,0,46.9219,-110.4544,2020-03-17 17:33:03
168,Nebraska,US,2020-03-17T17:53:03,21,0,0,41.1254,-98.2681,2020-03-17 17:53:03
122,Nevada,US,2020-03-17T23:33:02,56,1,0,38.3135,-117.0554,2020-03-17 23:33:02
155,New Hampshire,US,2020-03-17T23:13:10,26,0,0,43.4525,-71.5639,2020-03-17 23:13:10
44,New Jersey,US,2020-03-17T20:13:22,267,3,1,40.2989,-74.5210,2020-03-17 20:13:22
160,New Mexico,US,2020-03-17T23:13:10,23,0,0,34.8405,-106.2485,2020-03-17 23:13:10
9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481,2020-03-17 22:53:03
115,North Carolina,US,2020-03-17T23:13:10,64,0,0,35.6301,-79.8064,2020-03-17 23:13:10
231,North Dakota,US,2020-03-17T23:33:02,3,0,0,47.5289,-99.7840,2020-03-17 23:33:02
107,Ohio,US,2020-03-17T20:53:02,67,0,0,40.3888,-82.7649,2020-03-17 20:53:02
170,Oklahoma,US,2020-03-17T17:53:03,19,0,0,35.5653,-96.9289,2020-03-17 17:53:03
109,Oregon,US,2020-03-17T23:13:10,66,1,0,44.5720,-122.0709,2020-03-17 23:13:10
84,Pennsylvania,US,2020-03-17T23:13:10,112,0,0,40.5908,-77.2098,2020-03-17 23:13:10
218,Puerto Rico,US,2020-03-16T00:22:11,5,0,0,18.2208,-66.5901,2020-03-16 00:22:11
161,Rhode Island,US,2020-03-17T20:53:02,23,0,0,41.6809,-71.5118,2020-03-17 20:53:02
130,South Carolina,US,2020-03-17T23:13:10,47,1,0,33.8569,-80.9450,2020-03-17 23:13:10
186,South Dakota,US,2020-03-17T23:33:02,11,1,0,44.2998,-99.4388,2020-03-17 23:33:02
100,Tennessee,US,2020-03-17T23:13:10,74,0,0,35.7478,-86.6923,2020-03-17 23:13:10
85,Texas,US,2020-03-17T20:13:22,110,1,0,31.0545,-97.5635,2020-03-17 20:13:22
124,Utah,US,2020-03-17T20:53:02,51,0,0,40.1500,-111.8624,2020-03-17 20:53:02
182,Vermont,US,2020-03-16T17:13:23,12,0,0,44.0459,-72.7107,2020-03-16 17:13:23
240,Virgin Islands,US,2020-03-17T20:53:02,2,0,0,18.3358,-64.8963,2020-03-17 20:53:02
108,Virginia,US,2020-03-17T20:13:22,67,2,0,37.7693,-78.1700,2020-03-17 20:13:22
18,Washington,US,2020-03-17T23:33:03,1076,55,1,47.4009,-121.4905,2020-03-17 23:33:03
268,West Virginia,US,2020-03-17T23:33:02,1,0,0,38.4912,-80.9545,2020-03-17 23:33:02
102,Wisconsin,US,2020-03-17T20:13:22,72,0,1,44.2685,-89.6165,2020-03-17 20:13:22
187,Wyoming,US,2020-03-17T23:53:03,11,0,0,42.7560,-107.3025,2020-03-17 23:53:03
269,Cayman Islands,United Kingdom,2020-03-16T14:53:04,1,1,0,19.3133,-81.2546,2020-03-16 14:53:04
212,Channel Islands,United Kingdom,2020-03-16T14:38:45,6,0,0,49.3723,-2.3644,2020-03-16 14:38:45
232,Gibraltar,United Kingdom,2020-03-17T02:53:03,3,0,1,36.1408,-5.3536,2020-03-17 02:53:03
8,United Kingdom,United Kingdom,2020-03-17T15:13:09,1950,55,52,55.3781,-3.4360,2020-03-17 15:13:09

In [14]:
covid_data_latest_cases_country_state_wise_required = covid_data_latest_cases_country_state_wise[['Country/Region', 'Province/State',
                                                                                                  'Confirmed', 'Deaths', 'Recovered']]

In [15]:
covid_data_latest_cases_country_state_wise_required

,Country/Region,Province/State,Confirmed,Deaths,Recovered
233,Australia,Australian Capital Territory,2,0,0
270,Australia,From Diamond Princess,0,0,0
56,Australia,New South Wales,210,4,4
242,Australia,Northern Territory,1,0,0
93,Australia,Queensland,78,0,8
148,Australia,South Australia,29,0,3
201,Australia,Tasmania,7,0,0
89,Australia,Victoria,94,0,8
145,Australia,Western Australia,31,1,0
98,Canada,Alberta,74,0,0
87,Canada,British Columbia,103,4,4
196,Canada,Grand Princess,8,0,0
197,Canada,Manitoba,8,0,0
198,Canada,New Brunswick,8,0,0
221,Canada,Newfoundland and Labrador,3,0,0
202,Canada,Nova Scotia,7,0,0
61,Canada,Ontario,185,1,5
245,Canada,Prince Edward Island,1,0,0
99,Canada,Quebec,74,0,0
203,Canada,Saskatchewan,7,0,0
20,China,Anhui,990,6,984
32,China,Beijing,456,8,369
29,China,Chongqing,576,6,570
42,China,Fujian,296,1,295
77,China,Gansu,133,2,91
12,China,Guangdong,1364,8,1307
46,China,Guangxi,253,2,248
72,China,Guizhou,147,2,144
67,China,Hainan,168,6,161
41,China,Hebei,318,6,310
31,China,Heilongjiang,482,13,456
14,China,Henan,1273,22,1250
68,China,Hong Kong,162,4,88
0,China,Hubei,67799,3111,56003
19,China,Hunan,1018,4,1014
96,China,Inner Mongolia,75,1,73
28,China,Jiangsu,631,0,631
22,China,Jiangxi,935,1,934
90,China,Jilin,93,1,92
80,China,Liaoning,125,1,120
179,China,Macau,12,0,10
97,China,Ningxia,75,0,75
171,China,Qinghai,18,0,18
47,China,Shaanxi,246,3,236
24,China,Shandong,761,7,746
37,China,Shanghai,358,3,325
78,China,Shanxi,133,0,133
30,China,Sichuan,540,3,520
76,China,Tianjin,136,3,133
247,China,Tibet,1,0,1
95,China,Xinjiang,76,3,73
64,China,Yunnan,176,2,172
16,China,Zhejiang,1232,1,1216
26,Cruise Ship,Diamond Princess,696,7,325
21,Denmark,Denmark,977,4,1
127,Denmark,Faroe Islands,47,0,0
6,France,France,7652,148,12
204,France,French Guiana,7,0,0
223,France,French Polynesia,3,0,0
210,France,Guadeloupe,6,0,0
251,France,Mayotte,1,0,0
192,France,Reunion,9,0,0
224,France,Saint Barthelemy,3,0,0
235,France,St Martin,2,0,0
227,Netherlands,Curacao,3,0,0
10,Netherlands,Netherlands,1705,43,2
135,US,Alabama,39,0,0
229,US,Alaska,3,0,0
169,US,Arizona,20,0,1
163,US,Arkansas,22,0,0
25,US,California,698,12,6
70,US,Colorado,160,2,0
105,US,Connecticut,68,0,0
175,US,Delaware,16,0,0
129,US,Diamond Princess,47,0,0
164,US,District of Columbia,22,0,0
55,US,Florida,216,6,0
73,US,Georgia,146,1,0
166,US,Grand Princess,21,0,0
230,US,Guam,3,0,0
190,US,Hawaii,10,0,0
200,US,Idaho,8,0,0
69,US,Illinois,161,1,2
147,US,Indiana,30,2,0
159,US,Iowa,23,0,0
173,US,Kansas,18,1,0
154,US,Kentucky,26,1,1
59,US,Louisiana,196,4,0
144,US,Maine,32,0,0
118,US,Maryland,60,0,3
54,US,Massachusetts,218,0,1
114,US,Michigan,65,0,0
119,US,Minnesota,60,0,0
167,US,Mississippi,21,0,0
185,US,Missouri,11,0,0
195,US,Montana,9,0,0
168,US,Nebraska,21,0,0
122,US,Nevada,56,1,0
155,US,New Hampshire,26,0,0
44,US,New Jersey,267,3,1
160,US,New Mexico,23,0,0
9,US,New York,1706,13,0
115,US,North Carolina,64,0,0
231,US,North Dakota,3,0,0
107,US,Ohio,67,0,0
170,US,Oklahoma,19,0,0
109,US,Oregon,66,1,0
84,US,Pennsylvania,112,0,0
218,US,Puerto Rico,5,0,0
161,US,Rhode Island,23,0,0
130,US,South Carolina,47,1,0
186,US,South Dakota,11,1,0
100,US,Tennessee,74,0,0
85,US,Texas,110,1,0
124,US,Utah,51,0,0
182,US,Vermont,12,0,0
240,US,Virgin Islands,2,0,0
108,US,Virginia,67,2,0
18,US,Washington,1076,55,1
268,US,West Virginia,1,0,0
102,US,Wisconsin,72,0,1
187,US,Wyoming,11,0,0
269,United Kingdom,Cayman Islands,1,1,0
212,United Kingdom,Channel Islands,6,0,0
232,United Kingdom,Gibraltar,3,0,1
8,United Kingdom,United Kingdom,1950,55,52

### Problem 4

In [16]:
covid_data_china = covid_data.loc[covid_data['Country/Region'] == 'China', ]

In [17]:
covid_data_china.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Last Update Time Stamp
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,2020-03-17 11:53:10
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244,2020-03-17 01:53:03
14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140,2020-03-14 09:53:08
16,Zhejiang,China,2020-03-17T02:13:21,1232,1,1216,29.1832,120.0934,2020-03-17 02:13:21
19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088,2020-03-14 08:33:03

In [18]:
covid_data_china_state_wise = covid_data_china[['Province/State', 'Confirmed', 'Deaths', 'Recovered']]

In [19]:
covid_data_china_state_wise

     Province/State  Confirmed  Deaths  Recovered
0             Hubei      67799    3111      56003
12        Guangdong       1364       8       1307
14            Henan       1273      22       1250
16         Zhejiang       1232       1       1216
19            Hunan       1018       4       1014
20            Anhui        990       6        984
22          Jiangxi        935       1        934
24         Shandong        761       7        746
28          Jiangsu        631       0        631
29        Chongqing        576       6        570
30          Sichuan        540       3        520
31     Heilongjiang        482      13        456
32          Beijing        456       8        369
37         Shanghai        358       3        325
41            Hebei        318       6        310
42           Fujian        296       1        295
46          Guangxi        253       2        248
47          Shaanxi        246       3        236
64           Yunnan        176       2        172
67           Hainan        168       6        161
68        Hong Kong        162       4         88
72          Guizhou        147       2        144
76          Tianjin        136       3        133
77            Gansu        133       2         91
78           Shanxi        133       0        133
80         Liaoning        125       1        120
90            Jilin         93       1         92
95         Xinjiang         76       3         73
96   Inner Mongolia         75       1         73
97          Ningxia         75       0         75
171         Qinghai         18       0         18
179           Macau         12       0         10
247           Tibet          1       0          1

### Problem 5

In [28]:
covid_data_country_wise_agg = covid_data.groupby('Country/Region')['Deaths'].sum().reset_index()

In [29]:
covid_data_country_wise_agg

                       Country/Region  Deaths
0                         Afghanistan       0
1                             Albania       1
2                             Algeria       4
3                             Andorra       0
4                 Antigua and Barbuda       0
5                           Argentina       2
6                             Armenia       0
7                               Aruba       0
8                           Australia       5
9                             Austria       3
10                         Azerbaijan       1
11                            Bahrain       1
12                         Bangladesh       0
13                           Barbados       0
14                            Belarus       0
15                            Belgium      10
16                              Benin       0
17                             Bhutan       0
18                            Bolivia       0
19             Bosnia and Herzegovina       0
20                             Brazil       1
21                             Brunei       0
22                           Bulgaria       2
23                       Burkina Faso       0
24                           Cambodia       0
25                           Cameroon       0
26                             Canada       5
27           Central African Republic       0
28                              Chile       0
29                              China    3230
30                           Colombia       0
31                Congo (Brazzaville)       0
32                   Congo (Kinshasa)       0
33                         Costa Rica       0
34                      Cote d'Ivoire       0
35                            Croatia       0
36                        Cruise Ship       7
37                               Cuba       0
38                             Cyprus       0
39                            Czechia       0
40                            Denmark       4
41                 Dominican Republic       1
42                            Ecuador       2
43                              Egypt       4
44                  Equatorial Guinea       0
45                            Estonia       0
46                           Eswatini       0
47                           Ethiopia       0
48                            Finland       0
49                             France     148
50                      French Guiana       0
51                              Gabon       0
52                            Georgia       0
53                            Germany      24
54                              Ghana       0
55                             Greece       5
56                          Greenland       0
57                         Guadeloupe       0
58                               Guam       0
59                          Guatemala       1
60                           Guernsey       0
61                             Guinea       0
62                             Guyana       1
63                           Holy See       0
64                           Honduras       0
65                            Hungary       1
66                            Iceland       1
67                              India       3
68                          Indonesia       5
69                               Iran     988
70                               Iraq      11
71                            Ireland       2
72                             Israel       0
73                              Italy    2503
74                            Jamaica       0
75                              Japan      29
76                             Jersey       0
77                             Jordan       0
78                         Kazakhstan       0
79                              Kenya       0
80                       Korea, South      81
81                             Kosovo       0
82                             Kuwait       0
83                             Latvia       0
84                            Lebanon       3
85                            Liberia       0
86                      Liechtenstein       0
87                          Lithuania       0
88                         Luxembourg       1
89                           Malaysia       2
90                           Maldives       0
91                              Malta       0
92                         Martinique       1
93                         Mauritania       0
94                            Mayotte       0
95                             Mexico       0
96                            Moldova       0
97                             Monaco       0
98                           Mongolia       0
99                         Montenegro       0
100                           Morocco       2
101                           Namibia       0
102                             Nepal       0
103                       Netherlands      43
104                       New Zealand       0
105                           Nigeria       0
106                   North Macedonia       0
107                            Norway       3
108                              Oman       0
109                          Pakistan       0
110                            Panama       1
111                          Paraguay       0
112                              Peru       0
113                       Philippines      12
114                            Poland       5
115                          Portugal       1
116                       Puerto Rico       0
117                             Qatar       0
118             Republic of the Congo       0
119                           Reunion       0
120                           Romania       0
121                            Russia       0
122                            Rwanda       0
123                       Saint Lucia       0
124  Saint Vincent and the Grenadines       0
125                        San Marino       7
126                      Saudi Arabia       0
127                           Senegal       0
128                            Serbia       0
129                        Seychelles       0
130                         Singapore       0
131                          Slovakia       0
132                          Slovenia       1
133                           Somalia       0
134                      South Africa       0
135                             Spain     533
136                         Sri Lanka       0
137                             Sudan       1
138                          Suriname       0
139                            Sweden       7
140                       Switzerland      27
141                           Taiwan*       1
142                          Tanzania       0
143                          Thailand       1
144                       The Bahamas       0
145                        The Gambia       0
146                              Togo       0
147               Trinidad and Tobago       0
148                           Tunisia       0
149                            Turkey       1
150                                US     108
151                           Ukraine       2
152              United Arab Emirates       0
153                    United Kingdom      56
154                           Uruguay       0
155                        Uzbekistan       0
156                         Venezuela       0
157                           Vietnam       0
158    occupied Palestinian territory       0

### Program 6

In [26]:
covid_data_recovered = covid_data.groupby('Country/Region')['Recovered'].sum().reset_index()
covid_data_zero_recovered = covid_data_recovered.loc[covid_data_recovered['Recovered'] == 0, ]

In [27]:
covid_data_zero_recovered

                       Country/Region  Recovered
1                             Albania          0
4                 Antigua and Barbuda          0
7                               Aruba          0
13                           Barbados          0
16                              Benin          0
17                             Bhutan          0
18                            Bolivia          0
21                             Brunei          0
22                           Bulgaria          0
23                       Burkina Faso          0
25                           Cameroon          0
27           Central African Republic          0
28                              Chile          0
31                Congo (Brazzaville)          0
32                   Congo (Kinshasa)          0
33                         Costa Rica          0
37                               Cuba          0
38                             Cyprus          0
41                 Dominican Republic          0
42                            Ecuador          0
44                  Equatorial Guinea          0
46                           Eswatini          0
47                           Ethiopia          0
50                      French Guiana          0
51                              Gabon          0
54                              Ghana          0
56                          Greenland          0
57                         Guadeloupe          0
58                               Guam          0
59                          Guatemala          0
60                           Guernsey          0
61                             Guinea          0
62                             Guyana          0
63                           Holy See          0
64                           Honduras          0
66                            Iceland          0
76                             Jersey          0
78                         Kazakhstan          0
79                              Kenya          0
81                             Kosovo          0
85                            Liberia          0
86                      Liechtenstein          0
88                         Luxembourg          0
90                           Maldives          0
92                         Martinique          0
93                         Mauritania          0
94                            Mayotte          0
97                             Monaco          0
98                           Mongolia          0
99                         Montenegro          0
101                           Namibia          0
104                       New Zealand          0
105                           Nigeria          0
110                            Panama          0
111                          Paraguay          0
116                       Puerto Rico          0
118             Republic of the Congo          0
119                           Reunion          0
122                            Rwanda          0
123                       Saint Lucia          0
124  Saint Vincent and the Grenadines          0
129                        Seychelles          0
131                          Slovakia          0
132                          Slovenia          0
133                           Somalia          0
134                      South Africa          0
137                             Sudan          0
138                          Suriname          0
142                          Tanzania          0
144                       The Bahamas          0
145                        The Gambia          0
146                              Togo          0
147               Trinidad and Tobago          0
148                           Tunisia          0
149                            Turkey          0
151                           Ukraine          0
154                           Uruguay          0
155                        Uzbekistan          0
156                         Venezuela          0
158    occupied Palestinian territory          0